@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');

body{
	font-family: $Raleway;
}

#ng-container{
	margin-top: 60px;
}

//navbar 
.branding{
	background-color: $primary-green;
	width: 10%;
	text-align: center;
	font-size: 48px;
	color: white;
	font-weight: 700;
}

.menu{
	font-weight: 400;
	font-family: $Raleway !important;
	border-style: none !important;
	.item{
		color: $primary-green !important;

		.button{
			background-color: $secondary-green;
			color: white;
		}
	}
}

//homepage
#firstBanner{
	height: 500px;
	@include fixed-background();
	background-image : url(../assets/banner1.jpg);
	position: relative;

	#headerText{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center
	}

	h2{
	  	color: white;
	  	font-weight: 700;
	  	font-size: 144px;
	}

	h4{
		color: white;
	  	font-weight: 400;
	  	font-size: 36px;
	}
}

#secondBanner{
	h4{
		padding-top: 30px;
		font-size: 48px;
		font-weight: 700;
	}
	
	p{
		font-size: 24px;
		font-weight: 100;
		line-height: 30px;
	}

	.button{
		margin-top: $normal-margin;
		background-color: $secondary-green;
		color: white;
	}

	text-align:center;
	background-image : url(../assets/banner2.png);
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    padding-top: $big-margin;
    padding-bottom: $big-margin;
}

#thirdBanner{
	padding-top: $big-margin;
	padding-bottom: $big-margin;
	text-align: center;

	p{
		text-align: center;
		font-size: 24px;
		font-weight: 100;
		line-height: 30px;
		margin-top: $normal-margin;
	}

	.button{
		margin-top: $normal-margin;
		background-color: $secondary-green;
		color: white;
	}
}

//workout page
#workoutInfo{
	.workoutName{
		font-size: 30px;
		font-weight: 400;
		padding-left: $small-margin;
	}

	.workoutCreator{
		margin-top: $small-margin;
		color: grey;
		font-size: 20px;
		font-weight: 400;
		padding-left: $small-margin;
	}

	.button{
		background-color: $secondary-green;
		color: white;
		width: 90%;
	}
	margin-top: $big-margin;
}

.footer{
	height: 200px;
	background-color: $primary-green;
}

.summaryContainer{
	padding: 5px;
	.dayContainer{
		padding: 0 !important;
		height: 300px;
		background-color: grey;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		.dayHeader{
			background-color: $secondary-green;
			text-align: center;
			font-size: 18px;
			color: white;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.workoutElement{
			background-color: white;
			padding-top: $small-margin;
			padding-bottom: $small-margin;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.emptyDay{
			text-align: center;
			height: 272px;
			background-color: $light-grey;
		}
	}
}

.dayRow{
	background-color: $third-green;
}

.verticaltext{
	transform: rotate(90deg);
	transform-origin: top 20;
	float: right;
	margin-top: 100px;
	font-size: 30px;
	color: white;
}

.commentSection{
	margin-bottom: $big-margin !important;
	.inputField{
	}

	.comment{
		.commentHeader{
			color: white;
			background-color: $third-green;
			height: 7px !important;
		}
		.commentBody{
			
		}
	}
}