<div id="firstBanner">
	<div id="headerText">
		<h2>FITHUB</h2>
		<h4>FIND | CREATE | TRACK</h4>
	</div>
</div>
<div id="secondBanner">
	<div class="ui grid">
		<div class="one wide column"></div>
		<div class="six wide column">
			<h4>About</h4>
			<p>Fithub is a tool to create and find all kinds of workouts. All workouts on Fithub are created by users like you. Experience the freedom of selecting from a vast group of workout elements and organizing them into workout schedules that match your commitment and schedule. Sign up below to get started now for absolutely no cost!</p>
		</div>
		<div class="eight wide column">			
		</div>
	</div>
</div>
<div id="thirdBanner">
	<div class="ui grid">
		<div class="five wide column">
			<img src="assets/icon1.svg" alt="">
		</div>
		<div class="five wide column"></div>
		<div class="five wide column"></div>
	</div>
</div>
