<div class="ui top fixed menu">
  <div class="branding">
    Fh
  </div>
  <a class="item">Find</a>
  <a class="item">Create</a>
  <div class="right menu">
  	<div ng-show="!checkLoggedIn()" class="item">
  		<a href="#" class="small ui button">Sign Up</a>
  	</div>
  	<div ng-show="!checkLoggedIn()" class="item">
  		<a href="#" class="small ui button">Login</a>
  	</div>
  	<div ng-show="checkLoggedIn()" class="item">
  		<i class="user icon"></i> {{userName}}
  	</div>
  	<div ng-show="checkLoggedIn()" class="item">
  		<button ng-click="logout()" class="small ui button">Logout</button>
  	</div>
  </div>
</div>
<div class="ui stackable grid loginPage">
	<div class="row">
		<div class="ui seven wide centered column">
			<h4 class="loginIntro">
				Welcome back! Login below to get started. 
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="ui eight wide centered column">
			<div class="ui segment loginBox">
				<div class="ui stackable one column grid">
					<div class="centered column">
						<div class="ui form">
							<div class="field">
							    <label>Email</label>
							    <input ng-model="loginObject.email" class="fluid input" type="email" name="email" placeholder="john@smith.com">
							 </div>
						</div>
					</div>
					<div class="centered column">
						<div class="ui form">
							<div class="field">
							    <label>Password</label>
							    <input ng-model="loginObject.Hash_password" class="input" type="password" name="password">
							</div>
						</div>
					</div>
					<div class="center aligned column">
						<button ng-click="login()" class="ui button loginButton">
							Login
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>